<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>RailsBnmApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Section: Navbar -->
    <nav class="navbar sticky-top navbar-dark bg-dark">
      <div class="container justify-content-md-center">
          <span class="branding">
            <%= fa_icon "github" %>
          </span>
        <span>
          <a class="navbar-brand"
             href="https://github.com/hanisahkz/ror-bnm-api"
             target="_blank">Repository</a>
        </span>
      </div>
    </nav>
    <%= yield %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' %>
  </body>
</html>